Image
zImage
xipImage
bootpImage
uImage
zImage*
*.gz
*.img
*.rle
ramdiskevdo
ramdiskhuawei
ramdiskt2
ramdiskt10
ramdiskt6emmc
ramdiskt8emmc
ramdisk8901
ramdiskwcdma
ramdiskt2evdo
ramdisk*
reemmc
re3024
tmp
